

.currency-input {
    display: flex;
    align-items: center;
    border : 2px solid #C6C6C6;
    width: 100%;
    border-radius: 4px;
    /* width: 370px;
    height: 67px; */
}

.amount-input {
    padding: 10px;
}

.amount-input label {
    font-size: 16px;
    /* line-height: 42px; */
    color: #1A1A1A;
    display: block;
    font-weight: 400;
    margin-bottom: 4px;
    text-align: start;
}

.amount-input input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: 700;
    color: #1A1A1A;
}

.divider {
    /* height: 100%; */
    width: 2px;
    background-color: #C6C6C6;
    /* We must use 'algin-self: stretch;' because 'height' is not compatible
       with this element. */
    align-self: stretch;
}

.currency-selector {
    justify-content: right;
    padding: 24px;
}

.currency-selector select {
    font-size: 20px;
    font-weight: 700;
    border: none;
    background: none;
    color: #1A1A1A;
}